---
---

<section class="p-5 text-center">
    <h2 class="text-3xl font-bold">About Me</h2>
    <p class="mt-2 text-gray-300">
      I'm Haseeb, a passionate developer with experience in Java, C++, Python, and WordPress.
    </p>
  </section>
  