---
---

<section class="p-5 text-center">
    <h2 class="text-3xl font-bold">Contact</h2>
    <p class="mt-2 text-gray-300">
      Email: <a href="mailto:haseeb@example.com" class="text-blue-400">haseeb@example.com</a>
    </p>
  </section>
  